<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.progym">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".admin.schedules.ScheduleManagment"
            android:exported="true" />
        <activity
            android:name=".dietuserform"
            android:exported="true" />

        <activity
            android:name=".admin.Event.EventManagment"
            android:exported="true" />
        <activity
            android:name=".user.Event.EventUserView"
            android:exported="true" />
        <activity
            android:name=".admin.Event.UpdateAndDelete"
            android:exported="true" />
        <activity
            android:name=".admin.store.UpdateDeleteItem"
            android:exported="true" />
        <activity android:name=".admin.member.DeleteMember" />
        <activity
            android:name=".user.schedule.ScheduleUserView"
            android:exported="true" />
        <activity
            android:name=".user.exercises.ExerciseUserView"
            android:exported="true" />
        <activity
            android:name=".UpdateBooking"
            android:exported="true" />
        <activity
            android:name=".OnlineBooking"
            android:exported="true" />
        <activity
            android:name=".user.store.Checkout"
            android:exported="true" />
        <activity
            android:name=".admin.store.AddItem"
            android:exported="true" />
        <activity
            android:name=".admin.store.UpdateItem"
            android:exported="true" />
        <activity
            android:name=".admin.store.StoreManagement"
            android:exported="true" />
        <activity
            android:name=".admin.member.AllMembers"
            android:exported="true" />
        <activity
            android:name=".admin.exercises.UpdateDeleteExercise"
            android:exported="true" />
        <activity
            android:name=".user.payment.MyPayment"
            android:exported="true" />
        <activity
            android:name=".user.payment.EditPayment"
            android:exported="true" />
        <activity
            android:name=".user.store.Cart"
            android:exported="true" />
        <activity
            android:name=".user.profile.FitnessResults"
            android:exported="true" />
        <activity
            android:name=".user.profile.FitnessCalculation"
            android:exported="true" />
        <activity
            android:name=".admin.exercises.ExerciseManagment"
            android:exported="true" />
        <activity
            android:name=".admin.Diet.AddDiet"
            android:exported="true" />
        <activity
            android:name=".admin.member.AddMember"
            android:exported="true" />
        <activity
            android:name=".admin.schedules.AddSchedule"
            android:exported="true" />
        <activity
            android:name=".admin.exercises.AddExercise"
            android:exported="true" />
        <activity
            android:name=".AdminHome"
            android:exported="true" />
        <activity
            android:name=".user.store.StoreUserView"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.Event.CreateEvent"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>